@import "tailwindcss";

:root {
   --primary: #092e7e;
  --secondary: #ffffff;
  --accent: #ef4444;
   
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  
}